:root {
  --color-black: #000000FF;
  --color-blue-100: #E0F2FEFF;
  --color-blue-200: #BAE6FDFF;
  --color-blue-300: #7ED3FBFF;
  --color-blue-400: #39BDF7FF;
  --color-blue-50: #F0F9FFFF;
  --color-blue-500: #0FA5E9FF;
  --color-blue-600: #0384C6FF;
  --color-blue-700: #0469A0FF;
  --color-blue-800: #085984FF;
  --color-blue-900: #0C4A6EFF;
  --color-blue-950: #082F49FF;
  --color-cyan-100: #D0F9FDFF;
  --color-cyan-200: #A6F2FBFF;
  --color-cyan-300: #69E6F7FF;
  --color-cyan-400: #25D1EBFF;
  --color-cyan-50: #ECFEFFFF;
  --color-cyan-500: #09B6D4FF;
  --color-cyan-600: #0A90B0FF;
  --color-cyan-700: #10738EFF;
  --color-cyan-800: #165D74FF;
  --color-cyan-900: #174E62FF;
  --color-cyan-950: #093343FF;
  --color-gray-100: #EEEEF0FF;
  --color-gray-200: #D8DADFFF;
  --color-gray-300: #B6BAC3FF;
  --color-gray-400: #8F95A1FF;
  --color-gray-50: #F7F8F8FF;
  --color-gray-500: #6C7280FF;
  --color-gray-600: #5B616EFF;
  --color-gray-700: #4A4E5AFF;
  --color-gray-800: #40434CFF;
  --color-gray-900: #383A42FF;
  --color-gray-950: #25262CFF;
  --color-indigo-100: #E0E7FFFF;
  --color-indigo-200: #C7D2FEFF;
  --color-indigo-300: #A5B3FCFF;
  --color-indigo-400: #818BF8FF;
  --color-indigo-50: #EEF2FFFF;
  --color-indigo-500: #6466F1FF;
  --color-indigo-600: #5046E5FF;
  --color-indigo-700: #4438CAFF;
  --color-indigo-800: #3830A3FF;
  --color-indigo-900: #322E81FF;
  --color-indigo-950: #1E1B4BFF;
  --color-orange-100: #FFEDD5FF;
  --color-orange-200: #FED7AAFF;
  --color-orange-300: #FDBA74FF;
  --color-orange-400: #FB923CFF;
  --color-orange-50: #FFF7EDFF;
  --color-orange-500: #F97417FF;
  --color-orange-600: #EA580CFF;
  --color-orange-700: #C2410CFF;
  --color-orange-800: #9A3412FF;
  --color-orange-900: #7C2D12FF;
  --color-orange-950: #431407FF;
  --color-pink-100: #FCE7F1FF;
  --color-pink-200: #FBCFE5FF;
  --color-pink-300: #F9A8D0FF;
  --color-pink-400: #F472B2FF;
  --color-pink-50: #FDF2F7FF;
  --color-pink-500: #EC4899FF;
  --color-pink-600: #DB2780FF;
  --color-pink-700: #BE186AFF;
  --color-pink-800: #9D1759FF;
  --color-pink-900: #83184DFF;
  --color-pink-950: #50072BFF;
  --color-red-100: #FEE2E2FF;
  --color-red-200: #FECACAFF;
  --color-red-300: #FCA5A5FF;
  --color-red-400: #F97070FF;
  --color-red-50: #FEF2F2FF;
  --color-red-500: #F04545FF;
  --color-red-600: #DD2525FF;
  --color-red-700: #BA1B1BFF;
  --color-red-800: #9A1A1AFF;
  --color-red-900: #7F1D1DFF;
  --color-red-950: #450A0AFF;
  --color-rose-100: #FFE4E9FF;
  --color-rose-200: #FECDD5FF;
  --color-rose-300: #FDA4B3FF;
  --color-rose-400: #FB7189FF;
  --color-rose-50: #FFF1F3FF;
  --color-rose-500: #F43F5EFF;
  --color-rose-600: #E11D3FFF;
  --color-rose-700: #BE122FFF;
  --color-rose-800: #9F122AFF;
  --color-rose-900: #881327FF;
  --color-rose-950: #4C0511FF;
  --color-sky-100: #D0F9FDFF;
  --color-sky-200: #A6F2FBFF;
  --color-sky-300: #69E6F7FF;
  --color-sky-400: #25D1EBFF;
  --color-sky-50: #ECFEFFFF;
  --color-sky-500: #09B6D4FF;
  --color-sky-600: #0A90B0FF;
  --color-sky-700: #10738EFF;
  --color-sky-800: #165D74FF;
  --color-sky-900: #174E62FF;
  --color-sky-950: #093343FF;
  --color-teal-100: #CCFBF1FF;
  --color-teal-200: #99F6E5FF;
  --color-teal-300: #5EEAD5FF;
  --color-teal-400: #2DD4C0FF;
  --color-teal-50: #F0FDFAFF;
  --color-teal-500: #14B8A7FF;
  --color-teal-600: #0D9489FF;
  --color-teal-700: #0F766FFF;
  --color-teal-800: #115E59FF;
  --color-teal-900: #134E4AFF;
  --color-teal-950: #042F2EFF;
  --color-violet-100: #EDE9FEFF;
  --color-violet-200: #DDD6FEFF;
  --color-violet-300: #C4B5FDFF;
  --color-violet-400: #A68BFAFF;
  --color-violet-50: #F5F3FFFF;
  --color-violet-500: #8B5DF6FF;
  --color-violet-600: #7B3AEDFF;
  --color-violet-700: #6C28D9FF;
  --color-violet-800: #5A21B6FF;
  --color-violet-900: #4B1D95FF;
  --color-violet-950: #2E1065FF;
  --color-white: #FFFFFFFF;
  --color-yellow-100: #FEF9C3FF;
  --color-yellow-200: #FEF08AFF;
  --color-yellow-300: #FEE146FF;
  --color-yellow-400: #FBCD14FF;
  --color-yellow-50: #FEFCE8FF;
  --color-yellow-500: #EAB307FF;
  --color-yellow-600: #CB8A03FF;
  --color-yellow-700: #A26206FF;
  --color-yellow-800: #864D0DFF;
  --color-yellow-900: #713F12FF;
  --color-yellow-950: #422006FF;

  --radius-2xl: 32px;
  --radius-3xl: 40px;
  --radius-full: 9999px;
  --radius-lg: 12px;
  --radius-md: 8px;
  --radius-sm: 4px;
  --radius-xl: 16px;
  --radius-xs: 2px;

  --spacing-1: 4px;
  --spacing-10: 40px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-7: 28px;
  --spacing-8: 32px;
  --spacing-9: 36px;
  --spacing-half: 2px;
  --spacing-px: 1px;

  --text-size-2xl: 24px;
  --text-size-3xl: 28px;
  --text-size-4xl: 32px;
  --text-size-5xl: 48px;
  --text-size-6xl: 64px;
  --text-size-base: 16px;
  --text-size-lg: 18px;
  --text-size-sm: 14px;
  --text-size-xl: 20px;
  --text-size-xs: 12px;

  --surface-accent: var(--color-orange-400);
  --surface-brand: var(--color-rose-700);
  --surface-invert: var(--color-teal-500);
  --surface-primary: var(--color-rose-800);
  --surface-secondary: var(--color-gray-950);
  --border-accent: var(--color-orange-400);
  --border-brand: var(--surface-brand);
  --border-invert: var(--color-teal-500);
  --border-primary: var(--surface-primary);
  --border-secondary: var(--text-secondary);
  --text-accent: var(--color-gray-50);
  --text-brand: var(--surface-brand);
  --text-invert: var(--color-gray-100);
  --text-primary: var(--color-gray-950);
  --text-secondary: var(--color-gray-500);
}