:root {
  font-size: 10px; /* rem 단위의 기본 값: 10px */
  background: var(--color-white);
  box-sizing: border-box;
}

body {
  font: 1.6rem/1.5 Pretendard, sans-serif;
  color: var(--color-black);
}

@media print {
  a:where([href]) {
    &::before {
      content: '(' attr(href) ')';
    }
  }
}

img {
  vertical-align: middle;
}

button {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }

  & svg {
    pointer-events: none;
  }
}
